/* playfair-display-regular - latin_cyrillic */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/playfair-display-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/playfair-display-v30-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* playfair-display-700 - latin_cyrillic */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/playfair-display-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/playfair-display-v30-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

ul,
ol {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding-top: 30px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  display: block;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header__item a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.intro {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242b33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242b33)), url("../../images/intro-background.jpeg");
  background-image: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("../../images/intro-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro__banner .container {
  padding-top: 200px;
  padding-bottom: 74px;
}

.intro__content {
  width: 100%;
  max-width: 582px;
  margin: 0 auto;
  text-align: center;
}

.intro__content > img {
  margin-bottom: 200px;
}

.intro__heading {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #d4c17f;
}

.intro__footer {
  padding-right: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__footer-text img {
  margin-right: 15px;
}

.intro__footer .intro__footer-address,
.intro__footer-text a {
  font-family: "Raleway", serif;
  color: #ffffff;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */